<!doctype html>
<html lang="en" ng-app="bretVictorApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>


  <script data-main="http://localhost:5006/bokehjs/static/js/main" src='http://localhost:5006/bokehjs/static/js/vendor/requirejs/require.js'>

</script>
  <script src="/bokehjs/static/js/config.js"></script>
  <script src="/static/lib/js/angular/angular.js"></script>
  <script src="/bokehjs/static/demo/js/bret_victor_controller.js"></script>
</head>
<body ng-controller="PhoneListCtrl">
    <select ng-model="fill_color" ng-options="fc.displayVal for fc in colors"></select>



  <pre>
    rects = {
      type: 'annular_wedge',
      x: 'x'
      y: 'y'
      size:          .2
      inner_radius:  .1
      outer_radius:  .20
      start_angle:   .5
      end_angle:   [[end_angle]]
      line_alpha: 1
      fill_color: [[fill_color.displayVal]]
      #line_color: 'color'
      do_fill:true
    }

</pre>
<pre>

   line_color:  [[line_color.displayVal]]
</pre>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->

        Search: <input ng-model="query">

      </div>
      <div class="span10">
        <!--Body content-->

        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query">
            [[phone.name]]
            <p>[[phone.snippet]]</p>
          </li>
        </ul>

      </div>
    </div>
  </div>

</body>
</html>
