<!doctype html>
<html lang="en" ng-app="bretVictorApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>


  <script data-main="http://localhost:5006/bokehjs/static/js/main" src='http://localhost:5006/bokehjs/static/js/vendor/requirejs/require.js'>

</script>
  <script src="/bokehjs/static/js/config.js"></script>
  <script src="/static/lib/js/angular/angular.js"></script>
  <script src="/bokehjs/static/demo/js/bret_victor_controller.js"></script>
</head>
<body ng-controller="PhoneListCtrl">







  <pre>
    var rects = {
      type: 'annular_wedge',
      x: 'x',
      y: 'y',
      size:         <input ng-model="size">
      inner_radius:  <input ng-model="inner_radius">
      outer_radius:  <input ng-model="outer_radius">
      start_angle:   <input ng-model="start_angle">
      end_angle:      <input ng-model="end_angle">
      stroke_alpha:     <input ng-model="stroke_alpha">
      fill_alpha:     <input ng-model="fill_alpha">
      fill_color:     <select ng-model="fill_color" ng-options="fc.displayVal for fc in colors"></select>
      line_color:     <select ng-model="line_color" ng-options="fc.displayVal for fc in colors"></select>
      do_fill:true
    }
    options = {
      title: "Annular Wedge Demo"
      dims: [800, 500]
      xaxes: "min"
      yaxes: "min"
      tools: "pan,zoom,resize,preview,select"
      legend: false
    }

    plot = Bokeh.Plotting.make_plot(rects, data, options)
    Bokeh.Plotting.show(plot)

</pre>

</body>
</html>
